{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/about.css'%}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>+2348029632479</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>info@nneomafoundation.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand"> <img src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"> NNEOMA FOUNDATION</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link">HOME</a>
                        <a href="about" class="nav-item nav-link active">ABOUT</a>
                       
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">WHAT WE DO</a>
                            <div class="dropdown-menu bg-warning text-dark pr-3">
                                <!-- <a href="economic" class="dropdown-item">Economic wellbeing</a> -->
                                <a href="health" class="dropdown-item">Health</a>
                                <a href="education" class="dropdown-item">Education</a>
                                <a href="development" class="dropdown-item">Development</a>
                            </div>
                        </div>
                        <a href="contact" class="nav-item nav-link">CONTACTS</a>
                        <a href="event" class="nav-item nav-link">EVENTS</a>
                        <div class="carousel-btn">
                            <a class="btn btn-sm text-white bg-warning mt-2" href="donate">DONATE NOW</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- <h2>About Us</h2> -->
                    </div>
                    <div class="col-12">
                        <br><br><br><br><br>
                        <h2 class="text-white">What we stand for is what life is all about.</h2>
                        <div class="carousel-btn">
                            <a class="btn btn-custom text-white " href="donate">DONATE NOW</a>
                        </div>
                        <br><br><br>
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <main id="main">

            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
              <div class="container">
        
                <div class="section-title">
                  <h1 class="text-warning fw-bolder">About Us</h1>

                    <p class="text-dark">
                        Nneoma Health and Educational Development Support Foundation is a humanitarian organization 
                        conceived from the love of a mother. Its goal is to help communities in Africa succeed and lead 
                        better, more productive lives, give new opportunities to the poor, needy and impoverished Africans 
                        in areas of health, education and developmental opportunities
                    </p>
                     <h4 class="fw-bolder">Health</h4>
                    <P>
                        Nneoma Health and Educational Development Support Foundation couldn’t stand the deteriorating state of 
                        healthcare in Africa, decided to commits itself to the mission of saving lives and reducing the burden of 
                        disease in Africa, increasing access to medicines in communities with the highest burden of the disease.

                        We work with partners to prevent and treat infectious diseases such as hepatitis, malaria, tuberculosis, 
                        HIV/AIDS, and several neglected tropical diseases. Our work also widen into diabetes, hypertension and other 
                        non-communicable diseases, and we equally strive to reduce maternal and child mortality, combat chronic 
                        malnutrition, increase access to assistive technology and strengthen health systems.

                    </P>

                    <h4 class="fw-bolder">Education</h4>
                    <P>
                        Education they say is the bedrock of any society, that’s why Nneoma Health and Educational Development Support 
                        Foundation envisions a continent in which all children of Africa can pursue quality education that prepares 
                        them to lead fulfilled lives and make positive change in themselves, their families and the entire community.

                        Education is an inherent right for all children, that’s why we are helping to build libraries, make school 
                        more accessible, provide scholarships for secondary and post-secondary education students, introduce our 
                        children to science, technology, engineering, mathematics and exchange programs.

                    </P>

                    <h4 class="fw-bolder">Development </h4>
                    <P>
                        Development of a community largely depends on how aware the people in that community are 

                        The biggest need is to widen the awareness in the minds of the people, the best way to do this is to 
                        empower them and make them think for themselves instead of letting them follow the old ways.

                        Nneoma Health and Educational Development Support Foundation is a humanitarian organization who works with 
                        local communities to improve the quality of well being, health, education, living standards, water and 
                        sanitation, and simply awareness about the things that matter and will matter to the future generations.

                    </P>

                    <h4 class="fw-bolder">Our History </h4>
                    <P>
                        Nneoma Health and Educational Development Support Foundation (NHEDSF)was founded in 2022 with a transformational 
                        desire to help save the lives of millions of Africans that lacks basic healthcare, education and developmental 
                        opportunities.

                    </P>

        
                <div class="row">
                  <div class="col-lg-6 mt-4">
                    <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content mt-4">
                    <h4 class="fw-bolder">MISSION</h4>
                    <p class="fst-italic">
                        The mission of Nneoma is to alleviate poverty and socioeconomic adversity in Africa through education, health and developmental programmes.
                    </p>
                    <h4 class="fw-bolder">VISION</h4>
                    <p class="fst-italic">
                        Nneoma envisions a world where every human being has the unrestricted opportunity to reach their optimum potential.
                    </p>
                   
                    <h4 class="fw-bolder">CORE VALUE </h4>
                    <p class="fst-italic">
                        In the execution of its work, Nneoma is committed to the following core values:
                    </p>

                    <ul>
                        <li>Knowledge Development</li>
                        <li>Honesty</li>
                        <li>Compassion</li>
                        <li>Responsibility</li>
                        <li>Cultural Humility</li>
                        <li>Empathy</li>
                        <li>Neutrality</li>
                        <li>Independence</li>
                        <li>Humanity</li>
                    </ul>
        
                  </div>

                  
                </div>
        
              </div>
            </section><!-- End About Us Section -->
        
        
        
      
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Location, City, Country</p>
                            <p><i class="fa fa-phone-alt"></i>+2348029632479</p>
                            <p><a class="text-white" href="mailto:info@nneomafoundation.org"><i class="fa fa-envelope"></i>info@nneomafoundation.org</a></p>
                            <p><a class="text-white" href="mailto:chris.e@nneomafoundation.org"><i class="fa fa-envelope"></i>chris.e@nneomafoundation.org</a></p>
                            <div class="footer-social">
                                <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="event">Upcoming Events</a>
                            <a href="">Help</a>
                            <a href="faq">FAQs</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="terms">Terms and Conditions</a>
                            <a href="p_policy">Privacy policy</a>
                            <a href="do_policy">Donor Privacy policy</a>
                            <a href="partnership">Partnership</a>
                            <a href="cookies">Cookie Policy</a>
                           
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'assets/mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>
