{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/p_policy.css'%}" rel="stylesheet">
    </head>

    <body>
      
 
      <!-- ======= private policy ======= -->
      <br>
      <div class="container">

        <div class="logo mt-5">
            <a href="{% url 'index' %}" > <img class="logo " src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"></a>
        </div>
        <br>
        <br>
         
        <div class="section-title mt-5" data-aos="zoom-in">
          <h1 class="text-warning">Cookie Policy</h1>
          <h3><span></span></h3>
          <p></p>
        </div>
            <br> 

            <h5></h5>
            <p class="text-dark">
            
                

                This Cookies Policy sets out how we, Nneoma
                Health and Educational Development Support
                Foundation, use cookies and similar technologies
                on our website,
                <a class="text-primary" href="https://nneomafoundation.org/">www.nneomafoundation.org/</a>.
                
                
            </p>
            
           
          
            <div class="section-title mt-5" data-aos="zoom-in">
                <h1 class="text-warning">Cookie Policy</h1>
                <h3><span></span></h3>
            </div>
            
            <p>This Cookies Policy sets out how we, Nneoma
                Health and Educational Development Support
                Foundation, use cookies and similar technologies
                on our website,
                https://www.nneomafoundation.org/.
                <br><br>
                
                We may update this Cookies Policy from time in
                order to keep you fully informed about our latest
                practices involving cookies and similar
                technologies on our website. You should check
                this Cookies Policy each time you visit our website
                in order to find out whether our use of Cookies
                and similar technologies has changed.
                <br><br>
                The effective date of this Cookies Policy is 04
                January 2023.
                <br><br>
                
                We recommend that you print a copy of this
                Cookies Policy for your records.
                
                </p>

                
                <div class="section-title mt-5" data-aos="zoom-in">
                    <h1 class="text-warning">Content</h1>
                    <h3><span></span></h3>
                </div>
                <ul>
                    <li>About cookies</li>
                    <li>Types of cookies used</li>
                    <li> Essential cookies</li>
                    <li>Functional cookies</li>
                    <li>Analytical or performance cookies</li>
                    <li>Targeting cookies</li>
                    <li>Third Party cookies</li>
                    <li>How to accept or reject cookies</li>
                    <li>Copyright, credit and logo</li>
                </ul>

                 
                <div class="section-title mt-5" data-aos="zoom-in">
                    <h1 class="text-warning">About cookies</h1>
                    <h3><span></span></h3>
                </div>
                <p>
                    Cookie are data files that are sent between
                    web servers and browser, processor memory
                    or hard drives (clients) to recognize a
                    particular user’s device when the user
                    accesses a website. They are used for a range
                    of different purposes, such as customizing a
                    website for a particular user, helping a user
                    navigate a website, improving that user’s
                    website experience, and storing that user’s
                    preferences and login information.
                    <br><br>
                    Cookies can be classified as either ‘session’ or
                    ‘persistent’ cookies. Session cookies are
                    placed on your browser when you access a
                    website and last for as long as you keep your
                    browser open. They expire when you close your browser.
                    <br><br>
                    Persistent cookies are placed on your
                    computer when you access a website and
                    expire at a fixed point in time or if you
                    manually delete them from your browser,
                    whichever occurs first.
                    <br><br>
                    Cookies will be set either by our website
                    domain or by third party domains on our
                    behalf. Cookies set by us on our website
                    domain are referred to as ‘third party’ cookies
                    <br><br>
                    Cookies do not usually contain personal
                    information. Cookies may, however, be used
                    in combination with other information to
                    identify you.
                    <br><br>
                    We use first party and third party cookies on
                    our website, and both session and persistent
                    cookies.
                    <br><br>
                </p>
              
                
                <div class="section-title mt-5" data-aos="zoom-in">
                    <h1 class="text-warning">Types of cookies used</h1>
                    <h3>Essential cookies</h3>
                </div>

                <p>
                    These are cookies which are necessary in order
                    for us to run our website and its essential
                    functions. We use essential cookies for the
                    following purposes on our website.

                    <ul>
                        <li>To administer our website.</li>
                        <li>To ensure our website functions properly when you interact with it</li>
                        <li>For remembering information you have inserted in a form on our website.</li>

                    </ul>
                   
                </p>
                <h3>Functional cookies</h3>

                <p>
                    These are cookies that store information about
                    your preferences and recognize you whenever
                    you return to a website, in order to improve your
                    website experience and personalize it for you. We
                    use functional cookies for the following purposes
                    on our website:
                    <ul>
                        <li>To recognize you when you return to our
                            website.
                        </li>
                        <li>To improve your experience of our website.</li>

                        <li>To recognize whether you have accepted the
                            use of cookies on our website.
                        </li>
                        <li>To recognize the type of browsing device you
                            are using, including your browser and browser
                            settings, for the purpose of displaying our
                            website to you in an appropriate format.
                        </li>
                    </ul>
                </p>

                <div class="section-title mt-5" data-aos="zoom-in">
                    <h1 class="text-warning">Contact Us</h1>
                </div>

                <p>
                    This website is owned and operated by Nneoma
                    Health and Educational Development Support
                    Foundation. If you have any questions about our
                    cookies or this cookies Policy, please contact
                    NHEDSF at <a class="text-primary" href="">info@nneomafoundation.org</a>.
                </p>
      </div>
    <!-- end private policy -->
  


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Our Head Office</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Location, City, Country</p>
                        <p><i class="fa fa-phone-alt"></i>+2348029632479</p>
                        <p><i class="fa fa-envelope"></i>info@nneomafoundation.org</p>
                        <p><i class="fa fa-envelope"></i>chris.e@nneomafoundation.org</p>
                        <div class="footer-social">
                            <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="event">Upcoming Events</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="terms">Terms of use</a>
                            <a href="p_policy">Privacy policy</a>
                            <a href="do_policy">Donor Privacy policy</a>
                            <a href="partnership">Partnership</a>
                            <a href="">Help</a>
                            <a href="faq">FQAs</a>
                        </div>
                     </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>
