{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/p_policy.css'%}" rel="stylesheet">
    </head>

    <body>
       
      
      <!-- ======= private policy ======= -->
      <br>
      <div class="container">

        <div class="logo mt-5">
            <a href="{% url 'index' %}" > <img class="logo " src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"></a>
        </div>
        <br>
        <br>
         
        <div class="section-title mt-5" data-aos="zoom-in">
          <h1 class="text-warning"> Donor Privacy policy</h1>
          <h3><span></span></h3>
          <p></p>
        </div>
            <br> 

          
          <p class="text-dark">
           

            Nneoma Health and Educational Development Support Foundation (NHEDSF) honors and 
            thank you for your gift to benefit our work. As detailed in our <a class="text-primary" href="p_policy">Privacy Policy</a>, 
            if you choose to make a gift to NHEDSF, we may obtain additional information in 
            connection with your donation, including your payment information. With respect to 
            planned gifts, we also may collect information such as your Social Security Number, 
            which is called National Identification Number (NIN) in Nigeria ( where required by law) 
            and estate documentation.Your personal information will not be shared, leased or sold to other 
            organizations for fundraising purposes, unless you have provided NHEDSF with specific permission 
            to do so or as otherwise disclosed in our <a class="text-primary" href="p_policy">Privacy Policy</a>. 
            NHEDSF will not send donor mailings on behalf of other organizations. 
            This commitment applies to information we receive from you both online and offline.</p>


            <p class="text-dark">For additional information about our practices for collecting, using, disclosing, and otherwise 
            managing the information we collect from and about you, as well as the measures we take to protect 
            personal information and the choices you can make about our use of the information, please see our 
            <a class="text-primary" href="p_policy">Privacy Policy</a> or contact us by email at <b><a href="mailto:chris.e@nneomafoundation.org"><i>info@nneomafoundation.org</i></a></b>.
          </p>
      </div>
    <!-- End F.A.Q Section -->
  


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Our Head Office</h2>
                        <p><i class="fa fa-map-marker-alt"></i>11 Ademola Awosika Road, 
                            <br>
                            <i class="fa fa-map-marker-alt"></i>Kubwa, Abuja, 
                            <br>
                            <i class="fa fa-map-marker-alt"></i>Federal Capital Territory, 
                            <br>
                            <i class="fa fa-map-marker-alt"></i>Nigeria. </p>
                        <p><i class="fa fa-phone-alt"></i>+2348029632479</p>
                        <p><a class="text-white" href="mailto:info@nneomafoundation.org"><i class="fa fa-envelope"></i>info@nneomafoundation.org</a></p>
                        <p><a class="text-white" href="mailto:chris.e@nneomafoundation.org"><i class="fa fa-envelope"></i>chris.e@nneomafoundation.org</a></p>
                        <div class="footer-social">
                            <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-custom" href="https://web.facebook.com/people/Nneoma-Foundations/pfbid0MBYmqHeuoZB2eV8KDamCa5zBfRQ8Xn9E4wnVui7CGWt1EaRzqUN8huBCR43u8q72l/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-custom" href="https://www.linkedin.com/in/nneoma-foundation-875bb6268/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="about">About Us</a>
                        <a href="contact">Contact Us</a>
                        <a href="event">Upcoming Events</a>
                        <a href="">Help</a>
                        <a href="faq">FAQs</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="terms">Terms and Conditions</a>
                        <a href="p_policy">Privacy policy</a>
                        <a href="do_policy">Donor Privacy policy</a>
                        <a href="partnership">Partnership</a>
                        <a href="cookies">Cookie Policy</a>
                       
                    </div>
                </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>
