{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/education.css'%}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>+123 456 00000000</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>info@nneomafoundation.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand"> <img src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"> NNEOMA</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link">HOME</a>
                        <a href="about" class="nav-item nav-link ">ABOUT</a>
                       
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">WHAT WE DO</a>
                            <div class="dropdown-menu bg-warning text-dark pr-3">
                                <!-- <a href="economic" class="dropdown-item">Economic wellbeing</a> -->
                                <a href="health" class="dropdown-item">Health</a>
                                <a href="education" class="dropdown-item">Education</a>
                                <a href="development" class="dropdown-item">Development</a>
                            </div>
                        </div>
                        <a href="contact" class="nav-item nav-link">CONTACTS</a>
                        <a href="event" class="nav-item nav-link">EVENTS</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- <h2>About Us</h2> -->
                    </div>
                   
                    <div class="col-12">
                        <br><br><br>
                        <h2 class="text-white">  With education, children are set for better future</h2>
                        <div class="carousel-btn">
                            <a class="btn btn-custom text-white" href="donate">Donate Now</a>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Single Post Start-->
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="single-content">
                            <div class="section-header mb-3">
                                <h2 class="text-warning">Education</h2>
                              
                            </div>
                           
                            <p>
                                Educational challenges are widespread in many parts of the world. With education, children are set for better future.
                                According to UNESCO, there are many locations in the world where one out of five elementary age students are unable to attend school. 
                                Low income families living in rural areas dont have the means to send their children to school.
                                But the problem is not just a rural one; low income children in larger cities also find themselves lacking educational opportunities as well. 
                                The obvious long-term problems include children unable to pursue their passions, read, 
                                write, or learn basic concepts about the world around them. This can lead to dangerous situations.
                            </p>
                            
                            <p>
                                NNEOMA believes that education is an inherent right for all children. 
                                We are helping to build libraries, make school more accessible, 
                                provide scholarships for post-secondary education students, introduce our children to science, 
                                technology, engineering, and mathematics, and exchange programs. But we can’t do this alone. 
                                Your donations are necessary to continue our success thus far in educating Africa. 
                                Fortunately, we have a number of partners that provide valuable education services, but we need more. 
                                The best investment you can make is education. We are addressing, region by region, 
                                root causes on how to increase school attendance, improve learning and outcomes for all children and unlock the door of opportunities for them that only education can do. 
                                Your gifts and donations will go far to help us continue to make great strides in educating Africa.
                            </p>

                            <img class= "mb-4" src="{% static 'assets/img/penkid.jpg'%}" />
                            
                            
                            <h4>Our Education programs include, but not limited to, the following thematic areas:</h4>
                            <ul>
                                <li>
                                    Conference development and management
                                <li>
                                    Program demonstration centers
                                </li>
                                <li>
                                    Scholarships
                                </li>
                                <li>
                                    Local and international exchange
                                </li>
                                <li>
                                    Academic-community partnerships
                                </li>
                                <li>
                                    Ethical leadership development
                                </li>
                                <li>
                                    Environment and sustainable development
                                </li>
                                <li>
                                    Library development
                                </li>
                           </ul>
                           
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Post End-->   

  <!-- news Start -->
  <div class="event">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="text-warning">News & Features</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="{% static 'assets/img/girl.jpg' %}" class="img-fluid" alt="Team Image">
                    <div class="event-content">
                        
                        <div class="event-text">
                            <h3>Lorem ipsum dolor sit</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">Scholarships</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="{% static 'assets/img/carousel-3.jpg' %}" class="img-fluid" alt="Team Image">
                    <div class="event-content">
                        
                        <div class="event-text">
                            <h3>Lorem ipsum dolor sit</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">Loans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news End -->



        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Location, City, Country</p>
                            <p><i class="fa fa-phone-alt"></i>+012 345 0000000000</p>
                            <p><i class="fa fa-envelope"></i>info@nneomafoundation.com</p>
                            <p><i class="fa fa-envelope"></i>chris.e@nneomafoundation.com</p>
                            <div class="footer-social">
                                <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="event">Upcoming Events</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js'%}"></script>
    </body>
</html>
