{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/faq.css'%}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                      <div class="top-bar-left">
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <p>+2348029632479</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-envelope"></i>
                            <p><a href="mailto:info@nneomafoundation.org">info@nneomafoundation.org</a></p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
          <a href="{% url 'index' %}" class="navbar-brand"> <img src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"> NNEOMA FOUNDATION</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav ml-auto">
                  <a href="{% url 'index' %}" class="nav-item nav-link active">HOME</a>
                  <a href="about" class="nav-item nav-link ">ABOUT</a>
                 
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">WHAT WE DO</a>
                      <div class="dropdown-menu bg-warning text-dark pr-3">
                          <a href="health" class="dropdown-item">Health</a>
                          <a href="education" class="dropdown-item">Education</a>
                          <a href="development" class="dropdown-item">Development</a>
                      </div>
                  </div>
                  <a href="contact" class="nav-item nav-link">CONTACTS</a>
                  <a href="event" class="nav-item nav-link">EVENTS</a>
                  <div class="carousel-btn">
                      <!-- <a class="btn btn-custom text-white bg-danger" href="donate">DONATE NOW</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Nav Bar End -->
  
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- <h2>About Us</h2> -->
                    </div>
                    <div class="col-12">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="carousel-btn">
                            <!-- <a class="btn btn-custom text-white" href="donate">Donate Now</a> -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
 
      <!-- ======= F.A.Q Section ======= -->

      <div class="container">
        <div class="section-title mt-5" data-aos="zoom-in">
            <h2 class="text-warning">F.A.Q</h2>
            <h3>Frequently Asked <span>Questions</span></h3>
            <p>Below are list of frequently asked questions and their corresponding answers.</p>
        </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Is the donated amount rightly used for Poor People?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Nneoma Foundation will follow a strict post-donation procedure and bills for the same are duly shared.</strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Is Donating to an individual's account recommended??
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Donations should be to Nneoma Foundation dedicated accounts only and not to any individual's personal account.</strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What's better, monetary donations or usable items? 
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Both types of charity are beneficial to our cause. </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
             
             Where does Nneoma Health and Educational Development Support Foundation work ?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> We worked in Africa  </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Where does Nneoma Health and Educational Development Support Foundation get its funding ?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Nneoma Health and Educational Development Support Foundation receives funding from public and private sources. Our work would not be possible without the generosity of corporations,
                       foundations, government agencies and individuals like you. </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Why do you have programs other than healthcare ?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Nneoma Health and Educational Development Support Foundation takes a holistic approach to health. We believe medical care is just one component of good health. 
                For example, without scholarship, indigent children cannot be educated, empowering men, women, 
                youths is essential to the health and social development of families and without clean water and nutritious food, there cannot be good health. </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              How does Nneoma Health and Educational Development Support Foundation ensure the safety of all staff members and volunteers?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> All staff members sent to the field, no matter the length of the assignment, receive security briefings tailored to the country where they are to work. </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              What is Nneoma Health and Educational Development Support Foundations’ commitment to compliance and ethics ?
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Nneoma Health and Educational Development Support Foundation works to the highest standards of integrity. 
                We have a zero-tolerance approach to all forms of fraud, bribery and corruption. 
                Our SCUML certificate which can be viewed on <a href="https://www.scuml.org/">scuml.org</a> helps make sure that our employees, directors, officers, 
                consultants and other business partners respect and uphold the standards in the Code of Ethics and Conduct, as well as the legal, 
                regulatory and donor requirements under which we operate.
              </strong> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              How can I help ?
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> The difference really starts with you. There are many ways to make a difference in the lives of people affected by poverty, 
                war, natural disaster and disease. By making a donation, no matter the size, you are ensuring that people around the world have what they need to survive and recover. 
                You also can follow us on social media  <a href="https://twitter.com/NHEDSF">Twitter</a>,  <a href="https://www.instagram.com/nneoma_foundation/">Instagram</a> and spread the work about Nneoma Health and Educational Development Support Foundation and the issues that need our help. </strong> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End F.A.Q Section -->
  


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Our Head Office</h2>
                        <p><i class="fa fa-map-marker-alt"></i>11 Ademola Awosika Road, 
                          <br>
                          <i class="fa fa-map-marker-alt"></i>Kubwa, Abuja, 
                          <br>
                          <i class="fa fa-map-marker-alt"></i>Federal Capital Territory, 
                          <br>
                          <i class="fa fa-map-marker-alt"></i>Nigeria. </p>
<p><i class="fa fa-phone-alt"></i>+2348029632479</p>
                        <p><a class="text-white" href="mailto:info@nneomafoundation.org"><i class="fa fa-envelope"></i>info@nneomafoundation.org</a></p>
                        <p><a class="text-white" href="mailto:chris.e@nneomafoundation.org"><i class="fa fa-envelope"></i>chris.e@nneomafoundation.org</a></p>
                        <div class="footer-social">
                            <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="footer-link">
                      <h2>Popular Links</h2>
                      <a href="about">About Us</a>
                      <a href="contact">Contact Us</a>
                      <a href="event">Upcoming Events</a>
                      <a href="">Help</a>
                      <a href="faq">FAQs</a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="footer-link">
                      <h2>Useful Links</h2>
                      <a href="terms">Terms and Conditions</a>
                      <a href="p_policy">Privacy policy</a>
                      <a href="do_policy">Donor Privacy policy</a>
                      <a href="partnership">Partnership</a>
                      <a href="cookies">Cookie Policy</a>
                     
                  </div>
              </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>
