{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet"> --> 

        <link href="{% static 'assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
      

        <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
        
    </head>

    <body>
  
        
  <!-- ======= Hero Section ======= -->


<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <p>+123 456 00000000</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-envelope"></i>
                            <p>info@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-bar-right">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand">Nneoma</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">HOME</a>
                    <a href="about" class="nav-item nav-link ">ABOUT</a>
                   
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">WHAT WE DO</a>
                        <div class="dropdown-menu bg-warning text-dark pr-3">
                            <!-- <a href="economic" class="dropdown-item">Economic wellbeing</a> -->
                            <a href="health" class="dropdown-item">Health</a>
                            <a href="education" class="dropdown-item">Education</a>
                            <a href="development" class="dropdown-item">Development</a>
                        </div>
                    </div>
                    <a href="contact" class="nav-item nav-link">CONTACTS</a>
                    <a href="event" class="nav-item nav-link">EVENTS</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    
    
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- <h2>About Us</h2> -->
                </div>
        
                <div class="col-12">
                    <br><br><br>
                    <h2 class="text-white">  Nneoma Health and Educational Development Support Foundation</h2>
                    <div class="carousel-btn">
                        <a class="btn btn-custom text-white" href="donate">Donate Now</a>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    



         <!-- ======= Our Services Section ======= -->

    <div class="section-header text-center">
        <p>What We Do?</p>
        <h2>We believe that we can save more lifes with you</h2>
    </div>     

    <section id="services" class="services">
        <div class="container">
  
          <div class="row">
           
  
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="education">Education</a></h4>
                <p class="description">Education provides stability in life, and its something that no one can ever take away. </p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="health">Health</a></h4>
                <p class="description">Good health is of social and economic value to individuals, society and the economy</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="development">Development</a></h4>
                <p class="description">Giving developmental support to underprivileged people go a long way to make their lives better in ways beyond our imaginations</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Our Services Section -->
  
            
        <!-- Event Start -->
        <div class="event">
            <div class="container">
                <div class="section-header text-center">
                    <p>Upcoming Events</p>
                    <h2>Be ready for our upcoming charity events</h2>
                </div>
                <div class="row">
                    {% for event in events %}
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="{{event.image.url}}" alt="Image">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i> {{event.date}}</p>
                                    <p><i class="fa fa-map-marker-alt"></i> {{event.venue}}</p>
                                </div>
                                <div class="event-text">
                                    <h3>{{event.title}}</h3>
                                    <p>
                                        {{event.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Event End -->

          
        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <h2>News & Features</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'assets/img/nigerian.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text text-center">
                                <h2><a href="blog">Education</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'assets/img/teaching2.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text text-center">
                                <h2><a href="blog">Scholarships</a></h2>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="row mt-5">
                    <div class="col-lg-6 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'assets/img/carousel-3.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text text-center">
                                <h2><a href="blog">Education</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'assets/img/carousel-3.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text text-center">
                                <h2><a href="blog">Scholarships</a></h2>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
        <!-- Volunteer Start -->
        <div class="volunteer" data-parallax="scroll" data-image-src="{% static 'assets/img/volunteer.jpg' %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form>
                                {% csrf_token %}
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Become a volunteer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Become A Volunteer</p>
                                <h2>Let’s make a difference in the lives of others</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->
        
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center">
                    <p>Get In Touch</p>
                    <h2>Contact for any query</h2>
                </div>
                <div class="contact-img">
                    <img src="{% static 'assets/img/contact.jpg' %}" alt="Image">
                </div>
                <div class="contact-form">
                        <div id="success"></div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control" name="full_name" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control"  name="email" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Location, City, Country</p>
                            <p><i class="fa fa-phone-alt"></i>+012 345 0000000000</p>
                            <p><i class="fa fa-envelope"></i>info@example.com</p>
                            <div class="footer-social">
                                <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="causes">Popular Causes</a>
                            <a href="event">Upcoming Events</a>
                            <a href="blog">Latest Blog</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script  src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> 
        <script  src="{% static 'assets/lib/easing/easing.min.js'%}"></script> 
        <script  src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script  src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script  src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script  src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script> 

        <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
        <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>


        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>
        -->

        <!-- Template Javascript -->
    
    </body>
</html>
