{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NNEOMA FOUNDATION</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'assets/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'assets/lib/flaticon/font/flaticon.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/p_policy.css'%}" rel="stylesheet">
    </head>

    <body>
      
 
      <!-- ======= private policy ======= -->
      <br>
      <div class="container">

        <div class="logo mt-5">
            <a href="{% url 'index' %}" > <img class="logo " src="{% static 'assets/img/logo.jpg' %}"  alt="Team Image"></a>
        </div>
        <br>
        <br>
         
        <div class="section-title mt-5" data-aos="zoom-in">
          <h1 class="text-warning">Privacy Policy </h1>
          <h3><span></span></h3>
          <p></p>
        </div>
            <br> 

            <h5><i>January 04, 2023</i></h5>
            <p class="text-dark">
            
            Nneoma Health and Educational Development Support Foundation (‘NHEDSF’) respects your concerns 
            about privacy and aims to inform and empower you with respect to your personal information. 
            This Privacy Policy describes the types of personal information we obtain, how we may use that information, 
            with whom we may share it, how we protect it, and the choices you can make about our use of the information. 
            This Privacy Policy applies to the personal information we obtain through your use of our website, <i>nneomafoundation.org</i>, 
            and other websites that link to this Privacy Policy ( the ‘Site’); your offline interactions with us, 
            including when you connect with us via telephone, at our events and through our surveys; 
            and through our third- third sources, including advertising and social media networks. 
            For more information about our privacy practices in connection with donor information, 
            please see our <a class="text-primary" href="do_policy">Donor Privacy Policy</a>.
            </p>
            
            <h5 class="text-dark">PERSONAL INFORMATION COLLECTED </h5>

            <p class="text-dark">We may obtain personal information about you through various Channels. The types of personal information we obtain include:</p>
            <ol class="text-dark">
                <li>Contact information ( such as name, telephone number and email address)</li>	
                <li>Demographic information (such as gender and date of birth)</li>
                <li>DemographicOther personal information contained in the content you choose to submit to us.</li>
            </ol>
            
          

            <p class="text-dark">If you choose to make a gift to NHEDSF, whether by telephone or this Site, we may obtain additional information in connection 
            with your donation, including your payment information ( such as credit or debit card or bank account number).
            In addition, when you visit the Site, we may obtain certain information by automated means, such as through 
            cookies and web beacons. The information collected in this manner may include IP address, user device ID, 
            user location, browser language, screen resolution, operating system, service provider and other system settings or 
            information, and your actions taken while browsing a website. Your browser may tell you how to restrict or disable 
            certain types of cookies. For more information about cookies used on our Site, please visit our <a class="text-primary" href="">Cookie Policy</a>. 
            Please note, however, that without cookies you may not be able to use all of the features of our website.</p>

            
            <p class="text-dark">We may use third-party web analytics services on our Site, such as those of Google Analytics. 
            These service providers help us analyze how users use the Site and which links they clicked on to arrive at the Site. 
            The information collected by the cookies and web beacons ( including your IP address) will be disclosed to these 
            service providers, who use the information to evaluate your use of the Site. 
            To learn about Google Analytics and how to opt out, please visit <a class="text-primary" href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a> 
            and <a class="text-primary" href="https://www.google.com/policies/privacy/Nneoma/">https://www.google.com/policies/privacy/Nneoma/</a>.
            Please note that online donations are processed by a third-party service provider and you should read the section 
            below entitled ‘Links and Third Party Web Sites’ and familiarize yourself with the privacy terms of all such non-NHEDSF sites 
            before using them.</p>

        

            <h5 class="text-dark">HOW WE USE THE INFORMATION WE OBTAIN </h5>
        
            <p class="text-dark">We may use the personal information we obtain:</p>
            <ol class="text-dark">
                <li>to send you materials or information that you have requested,</li>	
                <li>to send you materials, information or other communications that may be of interest to you,</li>
                <li>to manage our fundraising activities and process donations,</li>	
                <li>to respond to your inquiries,</li>	
                <li>to communicate with you to administer your participation in surveys,</li>	
                <li>to personalize communications and fundraising efforts that we believe will be of interest to you,</li>	
                <li>to comply with applicable legal requirements, industry standards and our own policies and terms,</li>	
                <li>for our operational purposes, including data analysis, identifying usage trends, and enhancing our websites and promotional campaigns, and </li>	
                <li>as otherwise described in this Policy.</li>	
          </ol>
            
          <p class="text-dark">
            We also may use the information in other ways for which we provide specific notice at the time of collection. 
            Additionally, we may use information obtained through automated means for various purposes such as customizing our 
            visitors’ visits to the Site and understanding the manner in which our visitors browse and use the Site. 
            We also may use this information to help diagnose technical and service problems, administer the Site, 
            identify visitors to the Site, and gather demographic information about our visitors.
        </p>

            <p class="text-dark">Interest-Based Advertising 
            On our Site, we may obtain information about your online activities to provide you with advertising about fundraising 
            opportunities that may be tailored to your interest. This section of our Privacy Policy provides details and explains 
            how to exercise certain choices. 
            You may see our ads on other websites because we use third-party ad services. Through these ad services, 
            we can target our messaging to users by taking into consideration demographic data, 
            users’ inferred interest and browsing context. These services track your online activities over 
            time and across multiple websites and apps by collecting information through automated means, 
            including through the use of cookies, web server logs, web beacons and similar technologies. 
            The ad services use this information to show you ads that may be tailored to your individual interest. 
            The information that ad services may collect includes data about your visit to websites that serve our advertisements, 
            such as the pages or ads you view and the actions you take on the websites or apps. 
            This data collection takes place both on our Site and on third-party websites and apps that participate in these ad services. 
            This process also helps us to track the effectiveness of our marketing efforts. 
            The Site is not designed to respond to ‘ do not track’ signals from browser.</p>


            <h5 class="text-dark">DISCLOSURE OF AND ACCESS TO YOUR INFORMATION </h5>

            <p class="text-dark">Subject to applicable law, we may disclose your personal information:</p>

            <ol class="text-dark">
                  <li>To affiliated entities ( e.g., on whose behalf we may process donations),</li>
                  <li>To third parties, including our vendors, attorneys, accountants and advisors, who provide NHEDSF with assistance or 
                      advice or are under contract to perform services for or on behalf of NHEDSF ( collectively, ‘Service Providers’)
                  </li>
                  <li>Consortium groups and third parties acting on behalf of non-profit organizations that combine your personal 
                      information with information from other sources for analytical purposes
                  </li>
                  <li>In connection with merger and acquisition activity, re-organizations or other disposition of part or all of NHEDSF</li>
                  <li>(i) if we are required to do so by law, regulation or legal process ( such as a court order), (ii) in response to 
                  requests by government agencies, such as law enforcement authorities, or (iii) when we believe disclosure is necessary or 
                  appropriate to prevent physical harm or financial loss, or in connection with an investigation of suspected or actual 
                  fraudulent or illegal activity</li>
                  <li>If you direct us to do so.</li>
            </ol>


            <p class="text-dark">Your personal information will not be shared, leased or sold to other organizations for fundraising purposes, 
            unless you have provided NHEDSF with specific permission to do so or as otherwise disclosed in this policy. 
            NHEDSF will not send donor mailings on behalf of other organizations.</p>


            <h5 class="text-dark">LINKS AND THIRD PARTY WEBSITES</h5>
            The Site contains hyperlinks or ‘links’ to other sites, including access to content, products and services of our affiliated 
            and non-affiliated sites. For example, online donations to NHEDSF are facilitated by our non-affiliated service provider. 
            When you follow links to our Site you may be directed to a third-party website, which is subject to a separate privacy policy and other 
            terms and conditions. In some cases, these other websites are made available via ‘framing technology’ and may appear to be part of our Site. 
            We urge you to familiarize yourself with the individual privacy policies and other terms for each linked or framed site prior to 
            submitting any personal information. We are not responsible for the data collection, privacy and information sharing policies and 
            procedures or the content of such websites.


            <h5 class="text-dark">YOUR OPTIONS </h5>
            <p>To update your preferences, ask us to remove your information from our mailing lists, or submit a request, 
            please contact us as indicated in the Contact section of the website.</p>


            <h5 class="text-dark">CHILDREN’S PERSONAL INFORMATION</h5>
            <p>The Site is designed for a general audience and is not directed to children under the age of 13. The Site does not knowingly collect or 
            solicit personal information from children under the age of 13. If you believe that a child under the age of 13may have provided us with 
            personal information, please contact us as specified in the Contact section of the website.</p>


            <h5 class="text-dark">HOW WE PROTECT YOUR PERSONAL INFORMATION</h5>
            <p>We maintain administrative, technical and physical safeguards designed to protect the personal information you provide against accidental, 
            unlawful or unauthorized destruction, loss alteration, access, disclosure or use.
            </p>


            <h5 class="text-dark">CHANGES TO THIS POLICY</h5>
            <p>This Privacy Policy may be updated periodically and without prior notice to you to reflect changes in our personal information practices. 
            We will post a notice on the Site to notify you of any significant changes to our Privacy Policy and indicate at the top of the Policy when 
            it was most recently updated. Please refer back to this Privacy Policy on a regular basis.</p>


            <h5 class="text-dark">HOW TO CONTACT US</h5>
            <p>If you have questions or comments concerning this Privacy Policy, please contact us at <i>info@nneomafoundation.org</i>.</p>
          


      </div>
    <!-- end private policy -->
  


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Our Head Office</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Location, City, Country</p>
                        <p><i class="fa fa-phone-alt"></i>+2348029632479</p>
                        <p><i class="fa fa-envelope"></i>info@nneomafoundation.org</p>
                        <p><i class="fa fa-envelope"></i>chris.e@nneomafoundation.org</p>
                        <div class="footer-social">
                            <a class="btn btn-custom" href="https://twitter.com/NHEDSF"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-custom" href="https://www.instagram.com/nneoma_foundation/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="event">Upcoming Events</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="terms">Terms of use</a>
                            <a href="p_policy">Privacy policy</a>
                            <a href="do_policy">Donor Privacy policy</a>
                            <a href="partnership">Partnership</a>
                            <a href="">Help</a>
                            <a href="faq">FQAs</a>
                        </div>
                     </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Nneoma Foundation</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Uclassic Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'assets/lib/counterup/counterup.min.js'%}"></script>
        <script src="{% static 'assets/lib/parallax/parallax.min.js'%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'assets/mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'assets/mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>
